body {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 1.8rem;
  text-align: center;
}

h4,
h5 {
  text-align: center;
}

.mt-4 {
  margin-top: 1.5rem;
}

@media (max-width: 576px) {
  h1 {
    font-size: 1.5rem;
  }
}
